<h1>Chuck Norris Jokes</h1>

<div class="button-row">
    <button mat-raised-button color="primary" (click)="getRandomJokes()">Get new jokes</button>
    <button mat-raised-button color="primary" (click)="toggleAddingFavorites()" disabled="{{hasMaxFavorites() ? true : false}}">
        {{this.addingFavorites ? 'Stop' : 'Start'}} adding favorites</button>
</div>

<jokelist [title]="'Jokes'" [jokes]="randomJokes" (onToggleFavorite)="toggleFavorite($event)"></jokelist>
<jokelist [title]="'Favorites'" [jokes]="favoriteJokes" (onToggleFavorite)="toggleFavorite($event)"></jokelist>