.jokeTile {
    display: block;
    position: relative;
    height: auto;

    .checkbox-label {
        display: inline-block;
        position: relative;
        width: calc(100% - 100px);
        vertical-align: top;
        padding-left: 20px;
    }
}
